[Unit]
Description=sp1-safe proving server systemd service
After=network-online.target
[Service]
User=sp1r
EnvironmentFile=/home/sp1r/apps/sp1-safe-server.env
Restart=on-failure
ExecStart=/usr/local/bin/sp1-safe-server
[Install]
WantedBy=multi-user.target