[Unit]
Description=sp1-safe proving server systemd service
After=network-online.target
[Service]
DynamicUser=yes
Restart=on-failure
ExecStart=/usr/local/bin/sp1-safe-server
[Install]
WantedBy=multi-user.target