[Unit]
Description=sp1-safe proving server systemd service
After=network-online.target
[Service]
Type=simple
DynamicUser=yes
Restart=on-failure
Environment=RUST_LOG=info
ExecStart=/usr/local/bin/sp1-safe-server
[Install]
WantedBy=multi-user.target